extends layout

block content
  .row
    header.col-md-12
      img(src="images/assassins_creed_title_logo.png", alt="")
      p 
        i Faites grandir votre confrérie
  .row.main
    .col-md-7.clickersect
      h3.totalcounter 
        span.counter
        |  assassins
      p.persecond
        | Par seconde : 
        span#persecond
      .clicker
    .col-md-5.upgrasect
      h3 Améliorations
      button(disabled)#upgrade0.upgrades.row
        .col-md-6
          | Botte de foin
          br
          .prices
            img(src="images/assassins_creed_logo.png", alt="")
            span#price0
        .col-md-6.quantities
          span#quantity0 
      button(disabled)#upgrade1.upgrades.row
        .col-md-6
          | Bombe fumigène
          br
          .prices
            img(src="images/assassins_creed_logo.png", alt="")
            span#price1
        .col-md-6.quantities
          span#quantity1
      button(disabled)#upgrade2.upgrades.row
        .col-md-6
          | Senu
          br
          .prices
            img(src="images/assassins_creed_logo.png", alt="")
            span#price2
        .col-md-6.quantities
          span#quantity2
      button(disabled)#upgrade3.upgrades.row
        .col-md-6
          | Lame Secrète
          br
          .prices
            img(src="images/assassins_creed_logo.png", alt="")
            span#price3
        .col-md-6.quantities
          span#quantity3
  

  