extends layout

block content
  - var clics = 0;
  h1= title
  p Welcome to #{title}
  .clicker
  p 
    | Nombre de clics : 
    span.counter
  h3 Améliorations
  button(disabled)#upgrade1.upgrades Amélioration 1
  button(disabled)#upgrade2.upgrades Amélioration 2
  

  