doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    span.connected
      = 'Il y a actuellement '
      span.connected-number 0
      = ' personnes connectés'
    
    block content

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='/javascripts/app.js')