body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clicker {
  height: 50px;
  width: 50px;
  border: solid 1px black;
  background-color: #232323;
}